* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  min-height: 100vh;
}

main {
  padding: 2rem;
  max-width: 100rem;
  margin: 0 auto;
}

@media (max-width: 768px) {
  main {
    padding: 1rem;
  }
}

@media (max-width: 480px) {
  main {
    padding: 0.75rem;
  }
}
